#username {
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
}

.mountain-range-block {
    position: relative;
    overflow: hidden;
}

.mountain-range-block h1 {
    position: absolute;
    z-index: 10;
    color: white;
    width: 100%;
    text-align: center;
    padding-top: 80px;
    font-size: 80px;
}

.mountain-range-block img {
    width: 100%;
    height: auto;
    margin-top: -200px;
}

.mountains-table {
    position: relative;
    z-index: 10;
    background-color: #FEFCF5;
    box-shadow: 0 0 10px 0 rgba(51, 87, 81, 0.25);
    border-radius: 20px;
    margin: -250px auto 0;
}

.mountains-table td {
    padding: 0 20px;
    text-align: center;
}

.mountains-table .table-links td {
    font-weight: 200;
    padding-bottom: 15px;
}

.mountains-table .table-images div {
    height: 200px;
    overflow: hidden;
    border-radius: 15px;
}

.mountains-table .table-images div img {
    width: 300px;
    height: auto;
}

.comments {
    padding: 50px 50px 0;
}

.comments-list {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.comment {
    width: 650px;
    background-color: #FEFCF5;
    padding: 30px;
    border-radius: 90px 0 50px 50px;
    box-shadow: 0 0 10px 0 rgba(51, 87, 81, 0.25);
}

.comment .upper-section, .comment  .lower-section {
    display: flex;
    gap: 40px;
}

.comment .lower-section {
    padding-top: 20px;
}

.comment .image-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 63px;
    width: 126px;
    height: 126px;
}

.comment img {
    width: auto;
    height: 126px;
}

.comment .user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    padding-top: 15px;
}

.comment .user-profile p {
    font-weight: 400;
    white-space: nowrap;
}

.comment .text-section p, .comment .text-section span {
    padding-bottom: 5px;
    font-size: 15px;
    margin: 0;
}

.comment .text-section a {
    padding-left: 15px;
}

.text-section a:link {
    color: #C2644F;
}

.text-section a:visited {
    color: #485454;
}

.comment .text-section p {
    color: rgba(31, 48, 48, 0.5);
}

.comment .text-section span {
    line-height: 20px;
}

.comment .lower-section h3 {
    margin: 0;
    font-weight: 500;
}

.comment .lower-section button {
    white-space: nowrap;
    border: 0;
    border-radius: 10px;
    background-color: #C2644F;
    color: white;
    font-family: inherit;
    font-size: 16px;
    padding: 15px 20px;
}

.comment .lower-section button:hover {
    background-color: #d66b54;
}

.comment .lower-section button:active {
    background-color: #b05946;
}

.why-we-are-trusted {
    padding: 50px;
}

.why-we-are-trusted h2 {
    font-weight: 500;
    font-size: 30px;
}

.why-we-are-trusted ol li:not(:last-child){
    padding-bottom: 15px;
}